@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,700&display=swap');
:root {
  --cyan: hsl(186, 34%, 60%);
  --soft-red: hsl(10, 79%, 65%);

  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --pale-orange: hsl(33, 100%, 98%);
}

html,
body {
  background-color: var(--cream);
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}
