.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  border-radius: 0.6rem;
  background-color: var(--soft-red);
  margin-bottom: 1rem;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.6rem;
  background-color: var(--pale-orange);
}

.balanceText {
  margin-bottom: 0.3rem;
  font-size: 15px;
}

.label {
  background-color: var(--dark-brown);
  padding: 0.2rem;
  font-size: 14px;
  margin-bottom: 0.2rem;
  color: white;
}

.balance {
  font-size: x-large;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.1rem;
}

.logo {
  padding: 0rem 1rem;
  scale: 90%;
}

.title {
  font-size: 24px;
  margin-top: 1.6rem;
  font-weight: bold;
}

.chart {
  display: flex;
  justify-content: space-evenly;
  min-height: 14rem;
  width: 100%;
  background-color: white;
}

.chartRow {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: white;
  min-width: 1.5rem;
  min-height: 100%;
}

.chartPilar {
  background-color: var(--soft-red);
  min-width: 2rem;
  border-radius: 2px;
}

.chartPilar:hover {
  background-color: var(--cyan);
  min-width: 2rem;
}
